.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  font-size: 1.2rem;
}

.custom-error-border {
  border-color: red !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .scrollable-content {
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: 65px;
  }
}

@media (max-width: 576px) {
  .scrollable-content {
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: 65px;
    font-size: 14px;
  }
}
