.home {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 58px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  max-width: 1000px;
  white-space: nowrap;
}

.home span {
  display: block;
  width: 100%;
  text-align: center;
}

.home-logo {
  max-height: 200px;
  margin-bottom: 375px;
}

@media (max-width: 768px) {
  .home {
    font-size: 2rem;
    width: 95%;
  }

  .home-logo {
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .home {
    font-size: 1.5rem;
    width: 100%;
  }

  .home-logo {
    max-height: 120px;
  }
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
}

.typewriter span {
  display: inline;
}
