/* dashboard.css */

.structure {
  overflow-x: hidden;
  overflow-y: auto; /* Permite scroll pe verticală */
}

.legend-pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .legend-chart {
    font-size: 16px !important; /* Reduce dimensiunea fontului pentru legendă */
  }

  .line-chart {
    width: 100% !important;
    height: 300px !important;
  }

  .pie-chart {
    width: 100% !important;
    height: 300px !important;
  }

  .card {
    width: 100% !important;
    margin-bottom: 15px;
  }
}
